@model FaturaTakip.Models.Invoice.request.InvoiceRequestModel
<style>
	#mustBeUnvisibleAddScreen {
		color: #00688b;
	}
</style>
<div class="row mt-4" style=" flex: 1; margin-left: 0px;margin-right: 0px;">
	<div class="col-0 col-sm-1">
	</div>
	<div class="col" style="padding-left: 0px; padding-right: 0px;">
		<form method="post" action="/Invoices/Add">
			<div class="row d-flex">
				<div class="col-6 pe-1">
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Fatura Numarası: </label>
						<input type="text" id="faturaNo" class="form-control" placeholder="Fatura Numarası" name="FaturaNo" />
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Fatura Tarihi: </label>
						<input type="datetime" id="faturaTarihi" class="form-control" placeholder="Fatura Tarihi" name="FaturaTarihi" />
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Sipariş Numarası: </label>
						<input type="text" id="siparisNo" class="form-control" placeholder="Sipariş Numarası" name="SiparisNo" />
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Sipariş Tarihi: </label>
						<input type="datetime" id="siparisTarihi" class="form-control" placeholder="Sipariş Tarihi" name="SiparisTarihi" />
					</div>
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Müşteri: </label>
						@Html.DropDownList("MusteriID", ViewData["MusteriListesi"] as SelectList, "Seçiniz", new { @class = "form-control" })
					</div>
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Ürün: </label>
						<input type="text" id="urun" class="form-control" placeholder="Ürün" name="Urun" />
					</div>
				</div>
				<div class="col-6 ps-1">
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Miktar: </label>
						<input type="number" id="miktar" class="form-control" placeholder="Miktar" name="Miktar" />
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Birim Fiyat: </label>
						<input type="number" id="birimFiyat" class="form-control" placeholder="Birim Fiyat" name="BirimFiyat" />
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Kdv: </label>
						<input type="number" id="kdv" class="form-control" placeholder="Kdv" name="KDV" />
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Kdv Oranı: </label>
						<input type="number" id="kdvOrani" class="form-control" placeholder="Kdv Oranı" name="KDVOrani" />
					</div>
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Ödenecek Tutar: </label>
						<input type="number" id="odenecekTutar" class="form-control" placeholder="Ödenecek Tutar" name="OdenecekTutar" />
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-between m-1">
				<button type="button" class="btn" id="mustBeUnvisibleAddScreen" style="width: 25%; background-color: #cd5555; color: white;">Sil</button>
				<button type="submit" class="btn" style="width: 25%; background-color: #43cd80; color: white;">Onayla</button>
			</div>
			<div class="row d-flex justify-content-center">
			</div>
		</form>
	</div>
	<div class="col-0 col-sm-1">
	</div>
</div>

