@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="row mt-4" style=" flex: 1; margin-left: 0px;margin-right: 0px;">
        <div class="col-0 col-sm-1">
        </div>
        <div class="col" style="padding-left: 0px; padding-right: 0px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" id="tableCols">Müşteri ID</th>
                            <th scope="col" id="tableCols">Ad</th>
                            <th scope="col" id="tableCols">Soyad</th>
                            <th scope="col" id="tableCols">Adres</th>
                            <th scope="col" id="tableCols">E posta</th>
                            <th scope="col" id="tableCols">Telefon No</th>
                            <th scope="col" id="tableCols">Müşteri Sipariş Numaraları</th>
                            <th scope="col" id="tableCols"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" id="tableRows">1</th>
                            <td id="tableRows">Aslı</td>
                            <td id="tableRows">Limoni</td>
                            <td id="tableRows">132165</td>
                            <td id="tableRows">24.09.2023</td>
                            <td id="tableRows">TV</td>
                            <td id="tableRows">
                                <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">32135</a>,
                                <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">6546456</a>,
                                <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">32135</a>
                            </td>
                            <td id="tableRows"><a class="btn " style="color: white; background-color: #528b8b;" href="/customers/edit">Düzenle</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn" style="color: white; background-color: #43cd80;" href="/customers/add">Yeni Müşteri Ekle</a>
        </div>
        <div class="col-0 col-sm-1">
        </div>
    </div>
}
